.footer {
  background-image: linear-gradient(
      to top right,
      $color-grey 0%,
      lighten($color-grey, 50%) 50%,
      transparent 51%
    ),
    radial-gradient($color-grey, lighten($color-grey, 50%));
  border-radius: 3px;

  &__social-header {
    text-align: center;
    padding: 4.5rem 2rem 2rem 2rem;
    font-size: 2rem;
    letter-spacing: 1.8rem;
    color: $secondary-color;

    @include respond(phone) {
      padding: 2rem;
    }
  }

  &__container {
    width: 99%;
    margin: 0 auto;

    &::after {
      display: table;
      content: "";
      clear: both;
    }
  }

  &__nav {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    width: 50%;

    &--left {
      font-size: 1.5rem;

      @include respond(phone) {
        font-size: 1.25rem;
      }
    }

    &--right {
      font-size: 1.3rem;
      transform: translateY(0.5rem);

      @include respond(phone) {
        width: 80%;
        font-size: 1.1rem;
      }
    }

    &--item {
      display: block;
      padding: 1rem;
      transition: all 0.3s;

      &--sub {
        display: inline-block;
      }
    }

    &--link {
      &:link,
      &:visited {
        text-decoration: none;
        color: $primary-color-dark;
        padding: 0.7rem;
        transition: all 0.3s;
        text-transform: uppercase;
      }
      @media not all and (hover: none){
        &:hover,
        &:active {
          background-color: $primary-color-dark;
          color: #fff;
        }
      }
    }
  }

  &__copyright-tag {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 2rem;
    font-weight: 400;
    padding-bottom: 4rem;
    color: #000;

    @include respond(phone) {
      font-size: 1.3rem;
      margin-top: 1.5rem;
      padding-bottom: 2rem;
    }
  }
}
