// .header {
//   &::after {
//     display: table;
//     content: "";
//     clear: both;
//   }
//   .main-nav {
//     position: relative;

//     &__logo {
//       text-align: center;
//       padding: 2rem 0;

//       &-title {
//         background-image: linear-gradient(to right, $primary-color, black);
//         -webkit-background-clip: text;
//         background-clip: text;
//         color: transparent;
//         font-size: 5rem;
//         letter-spacing: 1rem;
//         font-weight: 500;
//         text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
//         animation-name: moveInTop;
//         animation-duration: 1s;
//       }
//     }

//     &__menu {
//       list-style: none;
//       font-size: 1.5rem;
//       float: right;

//       animation-name: moveInRight;
//       animation-duration: 1.5s;

//       &--item {
//         display: inline-block;
//         padding: 1.5rem;
//         color: #b8a37b;

//         &-link {
//           &:link,
//           &:visited {
//             text-decoration: none;
//             color: $primary-color;
//             padding: 1.5rem;
//             display: inline-block;
//             transition: all 0.2s;
//             backface-visibility: hidden;
//             border-bottom: 1px solid $primary-color-light;
//             text-transform: uppercase;
//           }

//           &:hover,
//           &:active {
//             background-color: $primary-color-dark;
//             transform: scale(1.05);
//             color: white;
//             border-bottom: none;
//           }
//         }
//       }
//     }
//   }
// }

.header {
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: 100;
  background-color: #fff;
  // background-image: linear-gradient(
  //   to right,
  //   lighten($secondary-color, 32%),
  //   lighten($secondary-color, 60%),
  //   #fff
  // );
  padding-bottom: 1rem;
  //border-bottom: solid 2px $primary-color-dark;
  &::after {
    display: table;
    content: "";
    clear: both;
  }
  .main-nav {
    position: relative;
    backface-visibility: hidden;

    &__logo {
      text-align: center;
      padding: 2rem 0;

      &-title {
        display: inline-block;
        background-image: linear-gradient(
          to right,
          $primary-color,
          $primary-color-dark
        );
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 3rem;
        letter-spacing: 1rem;
        font-weight: 300;
        //text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
        animation-name: moveInTop;
        animation-duration: 1s;
      }
    }

    &__menu {
      opacity: 0;
      list-style: none;
      font-size: 2rem;

      transition: all 1s;
      transition-delay: 1s;
      padding-top: 5rem;

      &--item {
        display: block;
        padding: 1.5rem;

        &-link {
          &:link,
          &:visited {
            text-decoration: none;
            color: $primary-color;
            padding: 1.5rem;
            display: block;
            transition: all 0.8s;
            backface-visibility: hidden;
            //border-bottom: 1px solid $primary-color-light;
            text-transform: uppercase;
            background-image: linear-gradient(
              120deg,
              transparent 0%,
              transparent 50%,
              $primary-color-dark 51%
            );
            background-size: 240%;
          }

          &:hover,
          &:active {
            background-position: 100%;
            background-color: $primary-color-dark;
            color: white;
            border-bottom: none;
          }
        }
      }
    }
  }

  &__icon-ticket {
    position: fixed;
    top: 3.5rem;
    right: 10.5rem;
    z-index: 2000;
    font-size: 2rem;
    color: $secondary-color;
    transition: all 0.8s cubic-bezier(0.17, -0.15, 1, 0.18);
  }
}

// NAVIGATION SLIDE OUT

.menu-btn {
  position: fixed;
  top: 2.5rem;
  right: 3rem;
  height: 4.5rem;
  width: 4.5rem;
  z-index: 2000;
  border: 1px solid $secondary-color;
  border-radius: 50%;
  background-image: linear-gradient($primary-color, $primary-color-dark);
  transition: all 0.8s cubic-bezier(0.17, -0.15, 1, 0.18);

  &:hover {
    cursor: pointer;
    background-image: linear-gradient($primary-color-dark, $primary-color);
  }

  &__checkbox {
    display: none;
  }
}

.menu-icon {
  position: absolute;
  top: 9%;
  left: 20%;
  font-size: 2.5rem;
  color: white;
  transition: all 0.8s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.menu-btn__checkbox:checked ~ .menu-btn {
  transform: translateX(-19vw) scale(1.2);
}

.menu-btn__checkbox:checked ~ .menu-btn > .menu-icon {
  transform: rotate(180deg);
  font-size: 3rem;
  top: 17%;
  left: 16%;
}

// .pop-up-cover-filter {
//   position: fixed;
//   height: 100vh;
//   width: 100vh;
//   background-color: rgba(0, 0, 0, 0.4);
//   z-index: 150;
// }

.pop-out-left {
  opacity: 0;
  width: 0;
  position: fixed;
  background-image: linear-gradient(
    to top left,
    $secondary-color,
    lighten($secondary-color, 30%),
    #fff
  );
  border-left: solid 2px $primary-color;
  top: 0;
  z-index: 200;
  right: 0rem;
  height: 100vh;
  transition: all 0.8s cubic-bezier(0.17, -0.15, 1, 0.18);
  text-align: center;
}

.menu-btn__checkbox:checked ~ .pop-out-left {
  opacity: 1;
  width: 20%;
}

.menu-btn__checkbox:checked ~ .pop-out-left > .main-nav__menu {
  animation: moveUp;
  animation-duration: 1s;
  animation-delay: 0.8s;
  opacity: 1;
}

.menu-btn__checkbox:checked ~ .header__icon-ticket {
  transform: translateX(-19vw);
}
