.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 2rem 0;
  z-index: 16;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

  @include respond(phone) {
    padding: 2rem 0;
  }

  &__title {
    font-size: 3rem;
    // animation-name: moveInTop;
    // animation-duration: 1s;
    letter-spacing: 0.5rem;
    font-weight: 300;
    color: $primary-color;
    transition: all 0.3s;
    margin-left: 20.5rem;
    display: inline-block;

    @include respond(tab-port) {
      text-align: left;
      letter-spacing: 3px;
      margin-left: 2rem;
    }
  }

  &__icon-ticket {
    position: fixed;
    top: 2.8rem;
    right: 10.5rem;
    z-index: 2000;
    font-size: 2rem;
    color: $secondary-color;
    transition: all 0.35s;

    @include respond(phone) {
      top: 3rem;
    }
  }
}

.main-nav-menu {
  opacity: 0;
  list-style: none;
  font-size: 2rem;
  transition: all 1s;
  transition-delay: 1s;
  padding-top: 1rem;
  text-align: left;
  margin-left: 3.5rem;

  @include respond(tab-port) {
    margin-left: 1.5rem;
  }

  @include respond(phone) {
    margin-left: 0;
    padding-top: 5rem;
  }

  &__item {
    display: block;
    padding: 1.5rem;

    &__link {
      &:link,
      &:visited {
        text-decoration: none;
        color: $primary-color;
        padding: 1.5rem;
        display: block;
        transition: all 0.6s;
        backface-visibility: hidden;
        text-transform: uppercase;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $primary-color-dark 51%
        );
        background-size: 240%;
      }

      &:hover,
      &:active {
        background-position: 100%;
        background-color: $primary-color-dark;
        color: white;
        border-bottom: none;
      }
    }
  }
}

//
// NAVIGATION SLIDE OUT
//
.menu-btn {
  position: fixed;
  top: 1.8rem;
  right: 3rem;
  height: 4.5rem;
  width: 4.5rem;
  z-index: 998;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient($primary-color, $primary-color-dark);
  transition: all 0.35s;

  &:hover {
    cursor: pointer;
    background-image: linear-gradient($primary-color-dark, $primary-color);
  }

  @include respond(phone) {
    top: 2rem;
  }
}

.menu-icon {
  position: absolute;
  top: 8%;
  left: 21%;
  font-size: 2.5rem;
  color: white;
  transition: all 0.35s;
  user-select: none;

  @include respond(phone) {
    top: 7%;
  }
}

.pop-out-left {
  opacity: 0;
  width: 0;
  position: fixed;
  background-image: linear-gradient(
    to top left,
    $secondary-color,
    lighten($secondary-color, 30%),
    #fff
  );
  border-left: solid 2px $primary-color;
  top: 0;
  z-index: 200;
  right: 0rem;
  height: 100vh;
  transition: all 0.35s;
  text-align: center;
}

.overlay-all {
  position: fixed;
  z-index: 199;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  width: 0;
}

//
// ADD ON TO CLASSLIST FOR POP OUT EFFECT
//

.menu-btn.open {
  transform: translateX(-24vw) rotate(180deg);

  @include respond(mid) {
    transform: translateX(-28vw) rotate(180deg);
  }

  @include respond(tab-port) {
    transform: translateX(-40vw) rotate(180deg);
  }

  @include respond(phone) {
    transform: translateX(-44vw) rotate(180deg);
  }
}

.pop-out-left.show {
  width: 25vw;
  opacity: 1;

  @include respond(mid) {
    width: 30vw;
  }

  @include respond(tab-port) {
    width: 42vw;
  }

  @include respond(phone) {
    width: 47vw;
  }
}

.nav-showing {
  animation: moveUp;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 1;
}

.show-overlay {
  opacity: 1;
  width: 100%;
}

.move-ticket {
  transform: translateX(-24vw);

  @include respond(mid) {
    transform: translateX(-27vw);
  }

  @include respond(tab-port) {
    transform: translateX(-38vw);
  }

  @include respond(phone) {
    transform: translateX(-15vw);
  }
}

.menu-link-active {
  background-color: $primary-color-dark;
  color: white !important;
}
