.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 2rem 0;
  z-index: 20;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);


  @include respond(phone) {
    padding: 2rem 0;
  }

  &__title {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
    color: lighten($primary-color-dark, 10%);
    transition: all 0.3s;
    margin-left: 6.5rem;
    display: inline-block;

    @media only screen and (max-height: 785px), screen and (max-width: 845px) {
      font-size: 2.2rem;
    }

    @include respond(tab-port) {
      text-align: left;
      letter-spacing: 3px;
      margin-left: 2rem;
    }

    @media only screen and (max-width: 308px) {
      letter-spacing: 1px;
      margin-left: 7px;
    }
  }

  &__icon-ticket {
    display: flex;
    align-items: center;
    position: fixed;
    top: 2.6rem;
    right: 9.5rem;
    z-index: 2000;
    font-size: 1.9rem;
    color: $secondary-color;
    transition: all 0.35s;

    @media only screen and (max-height: 785px) {
      top: 1.8rem;
      right: 8.5rem;
      font-size: 1.6rem;
    }

    @media only screen and (max-width: 1200px) {
      top: 2rem;
    }

    @media only screen and (max-width: 845px) {
      top: 1.6rem;
      right: 8rem;
    }

    @media only screen and (max-width: 400px) {
      font-size: 1.4rem;
      top: 1.75rem;
    }

    span {
      font-weight: 500;
    }

    img {
      width: 40px;

      @media only screen and (max-width: 400px) {
        width: 35px;
      }
    }
  }
}

.main-nav-menu {
  opacity: 0;
  list-style: none;
  font-size: 1.7rem;
  transition: all 1s;
  transition-delay: 1s;
  padding-top: 1rem;
  text-align: left;
  margin-left: 2rem;

  @include respond(tab-port) {
    margin-left: 1.5rem;
  }

  @include respond(phone) {
    margin-left: 0;
    padding-top: 7rem;
  }

  &__item {
    display: block;
    padding: 1.2rem;

    @include respond(phone) {
      padding: 1rem;
    }

    &__link {
      &:link,
      &:visited {
        text-decoration: none;
        color: $primary-color;
        padding: 1.2rem;
        display: block;
        transition: all 0.6s;
        backface-visibility: hidden;
        text-transform: uppercase;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $primary-color-dark 51%
        );
        background-size: 240%;
      }

      

      @media not all and (hover: none) {
        &:hover,
        &:active {
        background-position: 100%;
        background-color: $primary-color-dark;
        color: white;
        border-bottom: none;
      }
      }

      @include respond(phone) {
        font-size: 1.8rem;
      }
    }
  }
}

//
// NAVIGATION SLIDE OUT
//
.menu-btn {
  position: fixed;
  top: 1.8rem;
  right: 3rem;
  height: 4.5rem;
  width: 4.5rem;
  z-index: 998;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient($primary-color, $primary-color-dark);
  transition: all 0.35s;
  cursor: pointer;

  @media not all and (hover: none) {
    &:hover {
      background-image: linear-gradient($primary-color-dark, $primary-color);
    }
  } 

  @media only screen and (max-height: 785px), screen and (max-width: 845px)  {
    top: 1.6rem;
    height: 4rem;
    width: 4rem;
  }
}

.menu-icon {
  position: absolute;
  top: 8%;
  left: 21%;
  font-size: 2.5rem;
  color: white;
  transition: all 0.35s;
  user-select: none;

  @media only screen and (max-height: 785px), screen and (max-width: 845px) {
    top: 8%;
    font-size: 2.2rem;
  }
}

.pop-out-left {
  opacity: 0;
  width: 0;
  position: fixed;
  background-image: linear-gradient(
    to top left,
    $secondary-color,
    lighten($secondary-color, 30%),
    #fff
  );
  border-left: solid 14px lighten($secondary-color, 15%);
  top: 0;
  z-index: 200;
  right: 0rem;
  height: 100vh;
  transition: all 0.35s;
  text-align: center;
}

.overlay-all {
  position: fixed;
  z-index: 199;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  width: 0;
}

//
// ADD ON TO CLASSLIST FOR POP OUT EFFECT
//

.menu-btn.open {
  transform: translateX(-340px) rotate(180deg);

  @include respond(phone) {
    transform: translateX(-148px) rotate(180deg);
  }
}

.pop-out-left.show {
  width: 350px;
  opacity: 1;

  @include respond(phone) {
    width: 225px;
  }
}

.nav-showing {
  animation: moveUp;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 1;
}

.show-overlay {
  opacity: 1;
  width: 100%;
}

.move-ticket {
  transform: translateX(-335px);

  @media only screen and (max-width: 830px) {
    transform: translateX(-345px);
  }

  @media only screen and (max-width: 600px) {
    transform: translateX(-20px);
  }

  @media only screen and (max-width: 400px) {
    transform: translateX(-38px);
  }
}

.menu-link-active {
  background-color: $primary-color-dark;
  color: white !important;
}
