.alert {
  padding: 0.8rem;
  opacity: 0.9;
  color: white;
  position: fixed;
  top: 1rem;
  left: 25%;
  right: 25%;
  text-align: center;
  border-radius: 1rem;
  z-index: 1;
  font-size: 2rem;
  transition: all 0.4s ease-in;

  &--error {
    background: radial-gradient($primary-color, $primary-color-dark);
    z-index: 2000;
  }

  &--success {
    background-color: rgba(0, 0, 0, 0.75);
  }

  &--main-page {
    top: 8rem;
    z-index: 1;
  }
}
