.alert {
  padding: 0.8rem;
  color: white;
  position: fixed;
  top: 1rem;
  left: 25%;
  right: 25%;
  text-align: center;
  border-radius: 1rem;
  z-index: 15;
  font-size: 2rem;
  transition: all 0.4s ease-in;

  @include respond(phone) {
    left: 1%;
    right: 1%;
  }

  &--error {
    background: radial-gradient($primary-color, $primary-color-dark);
    z-index: 2000;
  }

  &--success {
    background-image: radial-gradient(
      darken($secondary-color, 10%),
      darken($secondary-color, 30%)
    );
  }

  &--main-page {
    top: 8rem;
    z-index: 1;
  }
}
