.images-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__top {
    position: relative;
    width: 90%;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 4rem;

    @media only screen and (max-width: 845px) {
      width: 98%;
    }

    @include respond(phone) {
      margin-top: 2rem;
    }

    .main-image {
      width: 100%;
      border-radius: 0.5rem;
    }

    .arrow {
      position: absolute;
      color: $primary-color-dark;
      transform: translateY(-50%);
      transition: all 0.3s;
      cursor: pointer;

      .fa, .fas {
        font-size: 5rem;

        @media only screen and (max-width: 440px) {
          font-size: 3.5rem;
        }
      }

      &-left {
        top: 50%;
        left: 0.5rem;

        @media only screen and (max-width: 845px) {
          left: 2.25rem
        }
      }

      &-right {
        top: 50%;
        right: 0.5rem;

        @media only screen and (max-width: 845px) {
          right: 2.25rem
        }
      }

      &:active {
        transform: translateY(-50%) translateY(-2px);
      }
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: max-content;
    grid-gap: 10px;
    width: 92%;
    margin: 2rem auto 0;
    max-height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
    
    @include scroller;

    @media only screen and (min-width: 2220px) {
      max-height: 280px;
    }

    @media only screen and (min-width: 2420px) {
      max-height: 330px;
    }

    @media only screen and (max-width: 1536px) {
      max-height: 195px;
    }

    @media only screen and (max-width: 1080px) {
      max-height: 180px;
    }

    @media only screen and (max-width: 900px) {
      max-height: 170px;
    }

    @media only screen and (max-width: 845px) {
      max-height: 315px;
      width: 98%;
    }

    @media only screen and (max-width: 550px) {
      grid-template-columns: repeat(2,1fr);
      max-height: 330px;
    }

    .secondary-image {
      width: 100%;
      margin: 0 1rem;
      transition: 0.2s;
      border-radius: 3px;
      overflow: hidden;
      justify-self: center;

      &__img {
        width: 100%;
      }

      &:hover {
        cursor: pointer;
        filter: contrast(60%);
      }
    }
  }
}
