.modal-overlay {
  position: fixed;
  z-index: 199;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  transition: all 0.4s;
}

.modal-content {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  max-width: 500px;

  @media only screen and (min-width: 1920px) {
    max-width: 800px;
  }

  @include respond(phone) {
    top: 40%;
    padding: 20px 5px;
    width: 96%;
  }

  &--sm {
    top: 35%;
  }

  .modal-title {
    text-align: center;
    color: $primary-color-dark;
    padding: 1rem 0;
    margin-bottom: 1rem;
    text-decoration: underline;
  }

  .confirmation-btn {
    cursor: pointer;
    padding: 0.8rem;
    border: none;
    opacity: 0;
    border-radius: 5px;
    color: white;
    background-color: $primary-color-dark;
    transition: all 0.2s;

    &:hover {
      background-color: lighten($primary-color-dark, 5%);
    }
  }

  .charity-confirm-container,
  .ticket-confirm-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    cursor: pointer;

    .car-image {
      width: 50%;
      border-radius: 1rem;
      overflow: hidden;
      pointer-events: none;
      align-self: stretch;

      &__img {
        width: 100%;
      }
    }

    .car-description {
      font-size: 1.4rem;
      font-weight: 600;
      pointer-events: none;
    }
  }

  .ticket-confirm-container {
    margin-top: 1rem;

    .ticket-icon {
      display: flex;
      align-items: flex-end;
      font-size: 2rem;
      color: $secondary-color;
      font-weight: 500;

      @media only screen and (max-width: 550px) {
        font-size: 1.6rem;
      }
    }

    .confirmation-btn {
      margin-top: 0 !important;
    }
  }
}

.flex {
  padding: 10rem 0;
}


.confirm-warning {
  font-size: 1.7rem;
  margin-top: 3rem;
  margin-bottom: 1.75rem;
  line-height: 2.7rem;
  padding: 0 1rem;
  text-align: center;
}


.charity-confirm-container:first-child {
  margin-top: 2rem;


}

#modal-content-charity {
  padding: 0;

  .car-image {
    width: 40%;
  }
}

.active-container {
  background-color: rgba(0, 0, 0, 0.65);
}