.search-form {
  position: relative;
  margin: 0 auto;
  margin-top: 5.5rem;
  width: 25%;

  &__input {
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    border-width: 4px;
    border-radius: 0.5rem;
    border-color: $primary-color;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;

    &:focus {
      outline: none;
    }
  }

  &__submit-btn {
    position: absolute;
    top: 0.8rem;
    right: 0.9rem;
    font-size: 2.5rem;
    background-color: #fff;
    border: none;
  }
}
