.search-form {
  position: relative;
  margin: 0 auto;
  margin-top: 2.5rem;
  width: 40%;

  &__input {
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border-color: lighten($primary-color-dark, 7%);
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;

    &:focus {
      outline: none;
    }
  }

  &__submit-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2.5rem;
    background-color: #fff;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
