// Ticket container component
.ticket-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 40rem;
  overflow-y: scroll;
  margin-bottom: 12vh;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), 0px -1px 5px rgba(0, 0, 0, 0.4);

  @include scroller;

  @include respond(mid) {
    width: 94%;
    // margin: 4vh auto;
    margin: 0 auto 8vh;
  }

  &--secondary {
    box-shadow: none;
    height: 20rem;
    margin-bottom: 0;

    @include respond(mid) {
      width: 94%;
      margin: 0 auto;
    }

    @media only screen and (max-width: 600px) {
      justify-content: space-between;
      height: 25rem;
    }

    @media only screen and (max-width: 400px) {
      padding: 2rem;
      height: 30rem;
    }

    @media only screen and (max-width: 315px) {
      padding: 1rem;
    }
  }

  &--single {
    position: relative;
    display: block;
    width: 75%;
    margin: 0 auto;
    box-shadow: none;
    height: 7.5rem;
    overflow: hidden;
    margin-bottom: 0;
  }
  @include respond(phone) {
    width: 95%;
    margin: 0 auto;
  }

  &__single-ticket {
    position: relative;
    font-size: 14rem;
    width: 20%;
    margin: 1rem 0;
    color: $primary-color-dark;

    @include respond(tab-land) {
      width: 25%;
    }

    @include respond(tab-port) {
      width: 33%;
    }

    
    @media only screen and (max-width: 450px) {
      width: 50%;
    }

    @media only screen and (max-width: 300px) {
      width: 100%;
    }

    &--secondary {
      font-size: 10rem;
      margin: 0 3rem;
      display: flex;
      justify-content: center;

      @media only screen and (max-width: 1200px) {
        width: 20%;
      }

      @media only screen and (max-width: 1020px) {
        width: 30%;
      }

      @media only screen and (max-width: 660px) {
        margin: 0 2rem;
      }

      @media only screen and (max-width: 600px) {
        width: 20%;
        font-size: 12rem;
      }

      @media only screen and (max-width: 400px) {
        width: 30%;
        font-size: 14rem;
      }

      @media only screen and (max-width: 315px) {
        width: 75%;
        font-size: 15rem;
      }
    }

    &--single {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      font-size: 10rem;
      width: 100%;
      margin: 0;
      color: darken($secondary-color, 10%);
    }

    &--number {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1.4rem;
      color: white;
      transform: translate(-50%, -50%);
      letter-spacing: 1px;
      font-weight: 300;
    }
  }
}
