@mixin scroller {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: lighten($color-grey, 35%);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
      to bottom,
      $primary-color-dark,
      lighten($primary-color-dark, 10%)
    );
    border-radius: 5px;
  }
}

@mixin charityBtnsLinks {
  cursor: pointer;
  padding: 1rem;
  border-radius: 2px;
  background-color: darken(#f6f6f6, 25%);
  color: $primary-color;

  &:hover {
    background-color: darken(#f6f6f6, 38%);
  }
}
