.container {
  max-width: $row-width;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding-top: 3rem;
  position: relative;

  &--colored {
    background: linear-gradient(
      90deg,
      $primary-color-dark,
      lighten($primary-color-dark, 4%)
    );
    padding-bottom: 6rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 7px 1rem rgba(0, 0, 0, 0.8), 0 -4px 1rem rgba(0, 0, 0, 0.4);
  }
}

.details-container {
  display: flex;
  justify-content: space-between;
  max-width: $row-width;
  margin: 0 auto;
  margin-bottom: 5rem;
  margin-top: 9.75rem;
  //padding-top: 2rem;
  height: 77rem;

  @include respond(phone) {
    flex-direction: column;
    height: auto;
  }

  .left-col {
    width: 30%;

    @include respond(phone) {
      width: 98%;
    }
  }

  .right-col {
    width: 68%;
    overflow-y: auto;
    @include scroller;

    @include respond(phone) {
      width: 98%;
      margin: 0 auto;
      margin-bottom: 7rem;
    }
  }
}

.u-color-primary {
  color: $primary-color;
}

.u-color-secondary {
  color: $secondary-color !important;
}

.u-bgcolor-grey {
  background-color: #eee !important;
}

.u-margin-bottom-sm {
  margin-bottom: 2.8rem;
}

.u-margin-bottom-xsm {
  margin-bottom: 0.6rem;
}

.u-margin-right-sm {
  margin-right: 2rem !important;
}

.u-margin-top-sm {
  margin-top: 1rem !important;
}

.u-margin-top-lg {
  margin-top: 3rem !important;
}

.u-large-ticket {
  font-size: 6.5rem;
}

.u-font-xxl {
  font-size: 3.5rem !important;
}

.u-font-xlg {
  font-size: 3rem !important;
}

.u-font-lg {
  font-size: 2.6rem !important;
}

.u-font-med {
  font-size: 2rem !important;
}

.font-sm {
  font-size: 1rem !important;
}

.u-font-xsm {
  font-size: 0.8rem !important;
}

.margin-left-sm {
  margin-left: 1rem;
}

.block {
  display: block !important;
}

.color-black {
  color: #000;
}

.color-blue {
  color: blue !important;
}

.color-secondary {
  color: $secondary-color;
}

.exit-container {
  position: absolute;
  right: 1.8rem;
  top: 1.8rem;
  font-size: 2rem;
  color: #fff;
  background-color: $primary-color-dark;
  border-radius: 50%;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: #eee;
    color: $primary-color-dark;
  }
}

.position-up {
  margin-top: -5rem;
}

.u-pos-fixed {
  position: fixed !important;
}

.opacity {
  opacity: 1 !important;
}

.u-lg-font {
  font-size: 4.8rem !important;
}

.inactive {
  pointer-events: none;
  opacity: 0.35;
}

.u-display-none {
  display: none !important;
}
