.container {
  max-width: $row-width;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding-top: 3rem;
  position: relative;
}

.details-container {
  display: flex;
  justify-content: space-between;
  max-width: $row-width;
  margin: 0 auto;
  margin-bottom: 5rem;
  margin-top: 6.75rem;
  padding-top: 2rem;
  height: 70rem;

  .left-col {
    width: 30%;
  }

  .right-col {
    width: 68%;
    overflow-y: auto;
    @include scroller;
  }
}

.u-color-primary {
  color: $primary-color;
}

.u-color-secondary {
  color: $secondary-color;
}

.u-margin-bottom-sm {
  margin-bottom: 2.8rem;
}

.u-margin-bottom-xsm {
  margin-bottom: 0.6rem;
}

.u-margin-right-sm {
  margin-right: 2rem !important;
}

.u-margin-top-sm {
  margin-top: 1rem !important;
}

.u-margin-top-lg {
  margin-top: 3rem !important;
}

.font-sm {
  font-size: 1rem !important;
}

.margin-left-sm {
  margin-left: 1rem;
}

.block {
  display: block !important;
}

.color-black {
  color: #000;
}

.color-blue {
  color: blue !important;
}

.color-secondary {
  color: $secondary-color;
}

.exit-container {
  position: absolute;
  right: 1.8rem;
  top: 1.8rem;
  font-size: 2rem;
  color: #fff;
  background-color: $primary-color-dark;
  border-radius: 50%;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: #fff;
    color: $primary-color-dark;
  }
}

.position-up {
  margin-top: -5rem;
}

.u-pos-fixed {
  position: fixed !important;
}

.opacity {
  opacity: 1 !important;
}

.u-lg-font {
  font-size: 4.8rem !important;
}

.inactive {
  pointer-events: none;
  opacity: 0.35;
}
