// COLORS

$primary-color: #ca1111;
$primary-color-light: #e43e3e;
$primary-color-dark: #520d0d;

$secondary-color: #b8a37b;

$color-grey: #898989;

//SIZES

$row-width: 134rem;
$gutter-horizontal: 10rem;
