.dashboard {
  text-align: center;

  &__title {
    width: 100%;
    margin-top: 3rem;
    padding: 5rem 0 0 0;
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;

    &:first-child {
      margin-top: 6rem;
      @include respond(phone) {
        margin: 6vh 0 0 0;
      }
    }

    @include respond(phone) {
      margin: 3rem 0 0 0;
    }

    &--pool {
      width: 100%;
      margin: 1rem 0;
      padding: 3rem 0 1rem 0;
      font-size: 1.8rem;
      font-weight: 600;
      color: #000;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .cover-title {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: darken($color-grey, 20%);

    @include respond(phone) {
      margin-bottom: 2.8rem;
    }
  }

  .info {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2.3rem 0;
    text-transform: uppercase;

    @include respond(mid) {
      font-size: 1.4rem;
    }

    .number {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .breaker {
    background-image: linear-gradient(
      $secondary-color,
      darken($secondary-color, 30%)
    );
    height: 0.5rem;
    width: 65%;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2px rgba(0, 0, 0, 0.4);
  }
}

.empty-pools {
  margin: 10rem 0 2rem 0;
}
