.car-bg {
  background: url("./img/lambo-main.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  // @media only screen and (max-width: 1000px) {
  //   background: url("./img/mobile-lambo-1.jpg") no-repeat center center fixed;
  // }
  
}
.landing-info {
  background-color: #eee;
  text-align: center;
  padding: 5rem 0 15rem 0;

  @include respond(phone) {
    padding: 4rem 0 15rem 0;
  }

  &--title {
    font-size: 2.8rem;
    margin-bottom: 10rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 400;
    color: lighten($primary-color-dark, 10%);
    transition: all 0.3s;

    @include respond(tab-port) {
      font-size: 2.2rem;
      margin-bottom: 6rem;
      letter-spacing: 0;
    }

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &--grid {
    display: flex;
    justify-content: space-around;
    margin: 0 15rem;

    @media only screen and (max-width: 1500px) {
      margin: 0;
    }

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  }

  &--box {
    position: relative;
    width: 350px;
    background-image: linear-gradient(
      to bottom right,
      $primary-color,
      $primary-color-dark
    );
    color: white;
    padding: 20px 30px 80px 30px;
    border-radius: 0.5rem;
    box-shadow: 1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.35);

    @media only screen and (min-width: 2000px) {
      width: 475px;
      padding: 30px 30px 200px 30px;
    }

    @media only screen and (max-width: 1125px) {
      width: 275px;
    }

    @media only screen and (max-width: 900px) {
      width: 450px;
    }

    @media only screen and (max-width: 480px) {
      width: 90%;
    }

    &:not(:last-child) {
      @include respond(tab-port) {
        margin-bottom: 6rem;
      }
    }

    &--heading {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1.4rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid #fff;
    }

    &--text {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 4rem;
      line-height: 2.5rem;
      letter-spacing: 1px;

      @include respond(tab-port) {
        padding-bottom: 15rem;
      }
    }
  }
}

.see-through {
  &--top {
    transform: translateY(12vh);
    margin-bottom: 10rem;
    height: 60vh;
  }

  &--bottom {
    position: relative;
    height: 65vh;
    overflow: hidden;

    &__box {
      position: absolute;
      top: 20%;
      left: 50%;
      text-align: center;
      opacity: 0;
      will-change: opacity transform;

      @include respond(phone) {
        width: 90%;
      }
    }

    &__title {
      color: white;
      font-size: 2.7rem;
      font-weight: 300;
      text-transform: uppercase;
      white-space: nowrap;

      @media only screen and (max-width: 1125px) {
        font-size: 2rem;
      }

      @include respond(phone) {
        font-size: 2rem;
        white-space: normal;
        line-height: 3.5rem;
        font-weight: 500;
      }
    }
  }
}

.arrow-main {
  margin-top: 10rem;
  font-size: 4rem;
  color: $primary-color;

  @media only screen and (max-width: 1500px) {
    display: none;
  }

}

.is-visible {
  animation: show 1.4s 0.85s cubic-bezier(0.45, 0.86, 0.45, 0.94) forwards;
}
